<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <!-- Meta information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Birthday Party Organizer in Ahmedabad | Birthday Party Decorators in Ahmedabad | Birthday Party Management in
        Ahmedabad | Balloon Decorators in Ahmedabad | Party Vibes</title>
    <link rel="shortcut icon" href="images/Favicon.ico">

    <!-- CSS Stylesheet -->
    <link href="{% static 'birthday/css/bootstrap.css'%}" rel="stylesheet"><!-- bootstrap css -->
    <link href="{% static 'birthday/css/owl.carousel.css'%}" rel="stylesheet"><!-- carousel Slider -->
    <link href="{% static 'birthday/css/styles.css'%}" rel="stylesheet" /><!-- font css -->
    <link href="{% static 'birthday/css/lightbox.css'%}" rel="stylesheet"><!-- Light Box css -->
    <link href="{% static 'birthday/css/jquery.selectbox.css'%}" rel="stylesheet" /><!-- select Box css -->
    <link href="{% static 'birthday/css/docs.css'%}" rel="stylesheet"><!--  template structure css -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- Used Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Domine:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,700i%7CRoboto:400,500"
        rel="stylesheet">
    <style>
        .header {
            position: fixed;
            top: 10px;
            right: 0px;
            height: 76px;
            width: 100%;
            z-index: 9999;
            background-color: black;
            height: 70px;
            margin-top: -15px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .navigation {
            float: left;
            position: absolute;
            top: 20px;
            right: 6px;
            margin-left: 105px;

        }

        .logo h1 {
            margin: 5px 0px;
            padding-top: 15px;
            padding-left: 120px;
            font-size: 30px;
        }

        .logo h1 a {
            background: linear-gradient(rgba(216, 72, 14, 0.822), rgb(209, 145, 7));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .navigation ul li {
            display: inline-block;
            margin-right: 32px;
        }

        .navigation ul li a {
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .navigation ul li.active a,
        .navigation ul li a:hover {
            color: #cf5b2d;
            transition: all 0.5s ease;
        }

        .nav li a:hover,
        .nav li a:focus {
            background: none;
        }

        .banner-img img {
            margin-top: 65px;
        }

        .nav {
            margin-top: 8px;
        }
    </style>
</head>

<body class="inner-page">
    <div class="header">
        <div class="logo">
            <h1><a href=" ">Event Management</a></h1>
        </div>
        <div class="navigation">
            <ul class="nav">
                <li><a href="/index/">Home</a></li>
                <li class="active"><a href="services">Services</a></li>
                <li><a href="#">Our Work</a></li>

                {% if username %}
                <li>
                    <div class="dropdown">
                        <a href="#" data-toggle="dropdown">{{username}}<span class="caret" style="margin-top: -4px;
                            margin-left: 10px;"></span></a>
                        <ul class="dropdown-menu" style=" background: rgba(0, 0, 0, 0.6);">
                            <li><a href="book_event" style="font-size: 12px;">BOOK_EVENT</a></li>
                            <li><a href="#" style="font-size: 12px;">PROFILE</a></li>
                            <li><a href="u_logout" style="font-size: 12px;">Logout</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li><a href="signin">Sign In</a></li>
                <li><a href="signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="simple-banner">
        <div class="banner-img">
            <img src="{% static 'birthday/images/banner-img/ahmedabad-birthday-party-organizer.jpg' %}"
                alt="ahmedabad-birthday-party-organizer" title="Birthday Party Organizer Ahmedabad">
        </div>
        <div class="text">
            <div class="inner-text">
                <h1 style="color:#fff;">Birthday Party Organizer - Ahmedabad</h1>
                <p>Balloon Decoration | Birthday Party Decoration | Birthday Party Management Company</p>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="search-resultPage">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9 col-sm-9 col-md-9" style="width: 100%;">
                        <div class="hotel-info tab-content">
                            <h2>Birthday Party Organizer Ahmedabad</h2>
                            <div class="inner-info">
                                <p align="justify">Party Vibes Event Management Company Specialized in Birthday Party
                                    Decoration and Organization From last 25 Years, Party Vibes have a wast experience
                                    of birthday party decoration and management, We done 2000+ birthday party, 1500+
                                    satisfactory client, also we have a wide range of theme party collocations like
                                    Spiderman birthday party theme, princess theme, chota bheem theme, cars theme,
                                    barbie theme, etc... </p>
                                <p align="justify">We are Giving You to ONE STOP SOLUTION For Total Birthday Party
                                    Management and Organization. We have lots of games to entertain your guests. We are
                                    also providing a Catering service also and we have already space for organize a big
                                    event.</p>
                                <div class="address">

                                    <div class="col-sm-4">
                                        <h4>Birthday Party Themes </h4>
                                        <ul class="customList">
                                            <li>Chota Bhim / Disney</li>
                                            <li>All Super Stars</li>
                                            <li>Cow Boy / Spiderman</li>
                                            <li>Dinosaur</li>
                                            <li>Star / Jungle</li>
                                            <li>Strawberry</li>

                                        </ul>
                                    </div>

                                    <div class="col-sm-4">
                                        <h4>Birthday Party Themes </h4>
                                        <ul class="customList">

                                            <li>Barbie Girl / Frozen</li>
                                            <li>Angry Birds / Deadpool</li>
                                            <li>Ice-Cream / Swimming pool</li>
                                            <li>Tarzan / Mickey Mouse</li>
                                            <li>Paint & Color</li>
                                            <li>We also make a Custom Theme</li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-4">
                                        <h4>Birthday Party GAMES </h4>
                                        <ul class="customList">
                                            <li>Ballon Jamping</li>
                                            <li>Indoor / Outdoor Train</li>
                                            <li>Rope Game</li>
                                            <li>Boat</li>
                                            <li>Mehndi / Merigo Round</li>


                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="photo-gallery tab-content">
                    <h2>Birthday Party Photo Gallery</h2>
                    <div class="gallery-view">
                        <div class="row">
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{%static 'birthday/images/birthday-party-organizer/1.jpg' %}"
                                        data-lightbox="example-set" data-title="Angry Bird Theme">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/1.jpg'%}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Angry Bird Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/4.jpg'%}"
                                        data-lightbox="example-set" data-title="Star Theme">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/4.jpg'%}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Star Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/3.jpg'%}"
                                        data-lightbox="example-set" data-title="Angry Bird Theme">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/3.jpg'%}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Angry Bird Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/10.jpg' %}"
                                        data-lightbox="example-set" data-title="Paint & Colour Theme">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/10.jpg'%}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Paint & Colour Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/11.jpg'%}"
                                        data-lightbox="example-set" data-title="Dinosaur Theme">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/11.jpg'%}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Dinosaur Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/15.jpg'%}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/15.jpg'%}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Chota bheem Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/13.jpg'%}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/13.jpg'%}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Cars Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/28.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/28.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Micky-Mouse Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/36.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/36.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Princess Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/18.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/18.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Spiderman Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/14.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/14.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Jungle Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/16.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/16.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Dinosaur Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/30.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/30.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Ice Cream Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/22.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/22.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Village Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/20.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/20.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Jungle Theme</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/49.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/49.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Balloon Decoration</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/6.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/6.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Balloon Decoration</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="img">
                                    <a href="{% static 'birthday/images/birthday-party-organizer/34.jpg' %}"
                                        data-lightbox="example-set" data-title="Birthday-Party-Organizer-Ahmedabad">
                                        <img src="{% static 'birthday/images/birthday-party-organizer/34.jpg' %}"
                                            alt="Birthday-Party-Organizers-in-Ahmedabad"
                                            title="Birthday Party Organizers in Ahmedabad">
                                    </a>
                                </div>
                                <div class="name">Superstar Theme</div>
                            </div>


                        </div>
                    </div>
                </div>
                <a href="book_event" class="btn btn-success"
                    style="width: 20%; margin-left: 465px;background-color: #cf5b2d; border: #cf5b2d">Book Event</a>
                <div class="bookin-info">
                    <div class="bottom-blcok">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon icon-assurance"></div>
                                <span>100% Assurance</span>
                                <p>Party Vibes gives you 100% Assurance because we have a experienced and highly
                                    practised team in the management to serve you "THE BEST"</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="icon icon-trust"></div>
                                <span>Trust</span>
                                <p>Party Vibes name is enough & P.V. have a 25 years of experience in decoration field
                                    and they will not take any kind of chance to lose his clientèle. </p>
                            </div>
                            <div class="col-sm-4">
                                <div class="icon icon-promise"></div>
                                <span>Our Promise</span>
                                <p>Party Vibes gives you a promise not just for satisfaction but party vibes will give
                                    you a promise to make you crazy & happy in your event.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </section>
    <!-- **********************FOOTER INCLUDE ************************* -->





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="{% static 'birthday/js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'birthday/js/bootstrap.js'%}"></script>
    <script type="text/javascript" src="{% static 'birthday/js/owl.carousel.js'%}"></script>
    <script type="text/javascript" src="{% static 'birthday/js/scroll.js'%}"></script>
    <script type="text/javascript" src="{% static 'birthday/js/lightbox-plus-jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'birthday/js/jquery.selectbox-0.2.js'%}"></script>
    <script type="text/javascript" src="{% static 'birthday/js/jquery.form-validator.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'birthday/js/placeholder.js'%}"></script>
    <script type="text/javascript" src="{% static 'birthday/js/coustem.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>