<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <title>Silver Package</title>
    <style>
        body {
            background-image:linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.842)),
            url("{%static 'images/wedding3.jpg'%}");
            background-size: cover;
            background-repeat: no-repeat;
            color: #fff;
        }

        .mb-25 {
            font-size: 20px;
            list-style: none;
            padding-inline-start: 30px;
            line-height: 30px;
        }

        .mb-25 ul li i {
            padding-top: 3px;
        }

        .sec-title3 h3 {
            font-size: 45px;
        }
    </style>
</head>

<body>
        <div class="header">
                <div class="logo">
                    <h1><a href=" ">Event Management</a></h1>
                </div>
                <div class="navigation">
                    <ul class="nav">
                        <li><a href="/index/">Home</a></li>
                        <li class="active"><a href="services">Services</a></li>
                        <li><a href="#">Our Work</a></li>
        
                        {% if username %}
                        <li>
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown">{{username}}<span class="caret" style="margin-top: -4px;
                                    margin-left: 10px;"></span></a>
                                <ul class="dropdown-menu" style=" background: rgba(0, 0, 0, 0.6);">
                                    <li><a href="book_event" style="font-size: 12px;">BOOK_EVENT</a></li>
                                    <li><a href="#" style="font-size: 12px;">PROFILE</a></li>
                                    <li><a href="u_logout" style="font-size: 12px;">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <li><a href="signin">Sign In</a></li>
                        <li><a href="signup">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
    <div class="main-content">
        <div class="rs-breadcrumbs sec-color">
            <div class="breadcrumbs-inner">
                <div class="container">
                    <div class="breadcrumbs-text">
                        <h1 class="breadcrumbs-title" style="font-size:60px;     margin-top: 70px;">Silver Package
                            {%if nop%}
                            {% for i in package %}
                            {%if i.Package_name == 'Silver Package'%}
                            Total Rs.{{total | add:i.package_price}}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </h1>
                        <p style="font-size: 20px;">With this comprehensive package, you will have the luxury of having peace of mind leading up to your special event and knowing that the The Event Group International team will take care of every aspect of the planning and execution process, from the beginning to the last detail. We will attend all appointments, serve as your point-person with vendors, and perform all of the legwork and negotiations on your behalf. Our most comprehensive service, the Platinum package will transform the otherwise exhausting and complicated process of planning your event into a fun, creative, and stress-free experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12 mb-md-50">
            <div class="service-res-inner">
                <div class="sec-title3" style="margin-bottom:0px;">
                    <h3>This package includes</h3>
                </div>
                <ul class="mb-25">
                    <li><i class="ion-arrow-right-c"></i> Assistance with registration activities (if required)</li>
                    <li><i class="ion-arrow-right-c"></i> Coordination of event rehearsal activities (if required)</li>
                    <li><i class="ion-arrow-right-c"></i> Review of event day itinerary with your corporate event sponsor/coordinator and designated stakeholders</li>
                    <li><i class="ion-arrow-right-c"></i> Instruction on seating plans and special arrangements for users</li>
                    <li><i class="ion-arrow-right-c"></i> Review of checklists with your corporate event sponsor/coordinator</li>
                    <li><i class="ion-arrow-right-c"></i> Full event day coordination with the aid of at least one assistant</li>
                    <li><i class="ion-arrow-right-c"></i> Supervision of vendor arrival and set-up</li>
                    <li><i class="ion-arrow-right-c"></i> Ensuring proper placement of place-cards, favors, programs, and other event collateral items</li>
                    <li><i class="ion-arrow-right-c"></i> Coordination with guest speakers and entertainment before the event begins</li>
                    <li><i class="ion-arrow-right-c"></i> Final touch-ups to venue site prior to guest arrival</li>
                    <li><i class="ion-arrow-right-c"></i> Vendor cues throughout the course of the event, including assisting the entertainment with scheduling, supervision of meal service, and other activities
                        </li>
                    <li><i class="ion-arrow-right-c"></i> Liaison for all guest questions and concerns
                    </li>
                    <li><i class="ion-arrow-right-c"></i> Collection and packing of any gifts, awards, and personal items</li>
                    <li><i class="ion-arrow-right-c"></i> Distribution of all gratuities to specified vendors
                    </li>
                    <li><i class="ion-arrow-right-c"></i> Conflict resolution</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>