<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customize_Package</title>
</head>
<body>
    <form>
        <table align = "center"></table>
            <tr><input type="checkbox" name="cateror" id="cateror">CATEROR</tr>
            <tr><input type="checkbox" name="decorator" id="decorator">DECORATOR</tr>
            <tr><input type="checkbox" name="photographer" id="photographer">PHOTOGRAPHER</tr>
            <tr><input type="checkbox" name="DJ" id="DJ">DJ</tr>
            <tr><input type="checkbox" name="cateror" id="cateror">CATEROR</tr>
            <tr><input type="checkbox" name="cateror" id="cateror">CATEROR</tr>
        </table>
    </form>
</body>
</html>